<app-header></app-header>


<div class="content">
    <div class="statement">
        <h1>We believe a cup of coffee is one of the most important, simple <span style="color: #FF7733;">pleasures</span> in life</h1>
    </div>

    <div class="items">
    <ng-container *ngFor="let item of items">
        <div class="item">
            <div *ngIf="item.id == 1; else normalView">
                <div class="labeled-latte">
                    <div class="extra-latte">
                        <img id="elatte" src={{item.imgUrl}} alt="item" />
                        <img id="rotating-label" src="assets/perfect-classic-arabic.svg" alt="label" />
                    </div>
                </div>
            </div>
            <ng-template #normalView>
                <img src={{item.imgUrl}} alt="item" />
            </ng-template>
            <div class="item-name">
                <span>{{item.name}}</span>
                <div class="price-capsule">
                    <span>${{item.price}}</span>
                </div>
            </div>
            <div class="options">
                <div class="radios">
                    <ng-container *ngFor="let size of item.sizes">
                        <p-radioButton
                            styleClass="option-radio"
                            [inputId]="item + item.name"
                            [name]="'sizeGroup' + item.id"
                            [value]="size"
                            [(ngModel)]="item.size"
                            />
                        <label for="item{{item.id}}-size{{size}}">
                            {{size}} ML
                        </label>
                    </ng-container>
                </div>
                <div class="check">
                    <p-checkbox
                        styleClass="sugar-box"
                        [inputId]="item.name"
                        [name]="item.name"
                        [value]="item.name"
                        [(ngModel)]="item.sugar"
                        checkboxIcon="pi pi-circle-fill"
                    />
                    <label>ADD SUGAR</label>
                </div>
            </div>
            <div class="footer">
                <button class="cart-button">ADD TO CART</button>
                <div class="help">
                    <button class="info-button"><img src="assets/info.svg" alt="info-icon"></button>
                </div>
            </div>

        </div>
    </ng-container>
</div>
</div>


