::ng-deep .sidebar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &.p-sidebar {
        width: 400px !important;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

    .p-sidebar-content {
        height: 100%;
    }
}

.labeled-latte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .sidebar-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Eczar', serif;
        font-weight: 700;
        .name {
            font-size: 40px;
            color: #023A6B;
        }

        .price {
            font-size: 24px;
            color: white;

            width: 75px;
            height: 33px;

            display: flex;

            justify-content: center;
            align-items: center;

            background-color: #FF7733;
            border-radius: 16px;
        }
    }

    .sidebar-image {
        display: flex;
        justify-content: center;
    }

    .nutrition {
        padding: 0 1rem 0;
        .list {
            display: flex;
            flex-direction: column;
            font-family: 'Open Sans',sans-serif;
            font-weight: 700;
            font-size: 14px;
            gap: 1rem;

            .tile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .orange {
                    color: #FF7733;
                }

                .blue {
                    color: #023A6B;
                }
            }

        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        button {
            width: 320px;
            height: 48px;

            border: 2px solid #FF7733;
            border-radius: 64px;
            background: transparent;

            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #023A6B;
        }

        button:hover {
            background: #FF7733;
        }
    }


}

.statement {
    display: flex;
    justify-content: center;

    color: #023A6B;

    font-family: 'Eczar', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;

    cursor: default;

    h1 {
        width: 70vw;
    }
}

.content {
    display: flex;
    flex-direction: column;

    height: auto;
    gap: 5vh;

    padding: 0 2rem 0;
}

.extra-latte {
    position: relative;
}

#rotating-label, #elatte {
    display: block;
}

#rotating-label {
    position: absolute;
    top: 7rem;
    left: 8rem;
    animation: rotation 12s infinite linear;
}

@keyframes rotation {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    gap: 10vw;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.item-name {
    display: flex;
    flex-direction: row;

    font-family: 'Eczar', serif;
    font-weight: 700;
    font-size: 32px;
    color: #023A6B;

    cursor: default;
}

.price-capsule {
    font-size: 16px;
    color: white;

    width: 54px;
    height: 23px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #FF7733;
    border-radius: 16px;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;

    .radios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;
        color: #023A6B;

        .radio {
            display: flex;
            gap: 0.5vw;
            align-items: center;
        }


    }
}

.check {
    display: flex;
    gap: 0.5vw;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    color: #023A6B;
    font-size: 14px;
}

.footer {
    display: flex;

    align-items: center;
    gap: 1vw;
}

.cart-button {
    width: 141px;
    height: 48px;
    background-color: #FEF2E8;
    border: 2px solid #FFBD5C;
    border-radius: 64px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #023A6B;
}

.multi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 141px;
    height: 48px;
    background: #FFBD5C;
    border: 2px solid #FFBD5C;
    border-radius: 64px;
    margin: 0;
    padding: 0;

    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #023A6B;
    }

    .cart-option {
        border: none;
        width: 48px;
        height: 48px;
        margin: 0 -2px;
        border-radius: 24px;
        padding: 0;
        background: transparent;
    }

    .cart-option:hover {
        background: #FF7733;
    }
}

.cart-button:hover {
    background-color: #FFBD5C;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 23px;
    width: 23px;
}

.info-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    background-color: #FFBD5C;

    border: none;
    border-radius: 16px;

    transition: all 0.2s;
}

.info-button:hover {
    width: 100%;
    height: 100%;
}

::ng-deep .sugar-box {
    width: 24px;
    height: 24px;
    .p-checkbox-box {
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none !important;
    }
    .p-checkbox-icon {
        width: 12px;
        height: 12px;
        transform-origin: center;
        transform: translateY(-100%);
    }

    &.p-checkbox-checked {
        .p-checkbox-box {
            background-color: #FFBD5C !important;
            box-shadow: none !important;
        }
        .p-checkbox-icon {
            transform: translateY(0)
        }
    }
}

::ng-deep .option-radio {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    background-color: white;
    width: 24px;
    height: 24px;

    .p-radiobutton-box {
        width: 24px;
        height: 24px;
        border: none;
        background-color: white;
    }

    &.p-radiobutton-checked {
        .p-radiobutton-box {
            background-color: transparent !important;
            box-shadow: none !important;
        }
        .p-radiobutton-icon {
            background-color: #FF7733 !important;
            border: none;
            animation: radio-anim 150ms ease-out forwards
        }
    }

    &.p-radiobutton-checked:hover {
        .p-radiobutton-box {
            box-shadow: none !important;
        }
    }
}

@keyframes radio-anim {
  from {
    transform: translateX(100%) scale(0);

  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes checkbox-anim {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}