::ng-deep .cart-content {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .layout {
        width: auto;
        .title {
            font-family: 'Recoleta Bold', sans-serif;
            color: #023A6B;
            font-size: 48px;
        }

        .cart-view {
            display: flex;
            flex-direction: row;

            gap: 2rem;

            .cart{
                display: flex;
                flex-direction: column;
            }

            .cart-divider {
                display: flex;
                flex-direction: row;
                height: 1px;
                width: 100%;
                border: 1px solid white;
            }

            .coffee-card {
                display: flex;
                height: 124px;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                .card-info {
                    display: flex;
                    flex-direction: column;

                    .coffee-info {
                        display: flex;
                        flex-direction: row;
                        font-family: 'Eczar', serif;
                        font-weight: 700;
                        gap: 0.5rem;
                        align-items: center;

                        .name {
                            font-size: 24px;
                            color: #023A6B;
                        }

                        .price {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            width: 54px;
                            height: 23px;
                            border-radius: 16px;
                            background-color: #FF7733;
                            color: white;
                        }
                    }

                    .coffee-details {
                        display: flex;
                        flex-direction: row;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                        color: #023A6B;
                        gap: 1rem;

                        .detail {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            align-items: center;
                        }
                    }
                }

                .card-qty {
                    margin-left: 3rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .multi {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 141px;
                        height: 48px;
                        background: transparent;
                        border: 2px solid #FFBD5C;
                        border-radius: 64px;
                        margin: 0;
                        padding: 0;

                        span {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            color: #023A6B;
                        }

                        .cart-option {
                            border: none;
                            width: 48px;
                            height: 48px;
                            margin: 0 -2px;
                            border-radius: 24px;
                            padding: 0;
                            background: transparent;
                        }

                        .cart-option:hover {
                            background: #FFBD5C;
                        }
                    }

                    .delete-button {
                        background: transparent;
                        border: none;
                    }
                }
            }

            .orange {
                color: #FF7733;
            }

            .blue {
                color: #023A6B;
            }

            .bill {
              width: 288px;
              height: auto;
              border-radius: 16px;
              background-color: white;
              box-sizing: border-box;
              padding: 1.5rem;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .title {
                font-family: 'Eczar', serif;
                font-weight: 700;
                font-size: 24px;
              }

              .payment {
                border: 2px solid #FF7733;
                border-radius: 64px;
                background: transparent;

                width: 240px;
                height: 48px;

                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 14px;
              }

              .payment:hover {
                background: #FF7733;
              }

              .bill-item {
                display: flex;
                flex-direction: row;

                align-items: center;

                justify-content: space-between;

                gap: 1rem;

                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 14px;

              }

              .delivery-item {
                display: flex;
                flex-direction: row;

                align-items: center;

                justify-content: space-between;

                gap: 1rem;

                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 14px;
              }
            }
        }
    }
}